.themeSwitcher {
    position: absolute;
    top: 15px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Размер иконки */
    color: #8163db; /* Цвет */
    transition: color 0.3s;
}
.themeSwitcher:hover {
    color: #be90ff; /* Цвет при наведении */
}
